APP_NAME=matricula-solicitacoes
PORT=8002
DB_HOST=postgres
DB_PORT=5432
DB_NAME=solicitacoes_db
DB_USER=postgres
DB_PASSWORD=defina-uma-senha-local
RABBITMQ_URL=amqp://matricula:defina-uma-senha-local@rabbitmq:5672/
WORKER_ENABLED=true
DISCIPLINAS_URL=http://matricula-disciplinas:8001
SOLICITACOES_URL=http://matricula-solicitacoes:8002
CRITERIO_DESEMPATE=coeficiente
# Auth0 sera configurado na etapa 3.
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
